Makefile
Makefile.in
TAGS
po/
*.o
*.lo
*.la
.deps/
.libs/
*.log
stamp-h1
tests/xieps_test
sdl_player/xieps_sdl_player
autom4te.cache
config.h
config.h.in~
config.status
configure
doxygen-output
libtool
m4/
build-aux
aclocal.m4